## Copyright (C) 2012 - 2025 ENCRYPTED SUPPORT LLC <adrelanos@riseup.net>
## See the file COPYING for copying conditions.

Source: tor-ctrl
Section: misc
Priority: optional
Maintainer: Patrick Schleizer <adrelanos@kicksecure.com>
Build-Depends: debhelper (>= 13), debhelper-compat (= 13),
Homepage: https://gitweb.torproject.org/torspec.git/tree/control-spec.txt
Vcs-Browser: https://github.com/nyxnor/tor-ctrl
Vcs-Git: https://github.com/nyxnor/tor-ctrl.git
Standards-Version: 4.6.2
Rules-Requires-Root: no

Package: tor-ctrl
Architecture: all
Depends: tor, netcat-openbsd, xxd, ${misc:Depends}
Description: Tor controller command line tool
 Command line tool for setting up stream for communication from the
 Tor Controller's (client) to a Tor process (server). The client send
 commands using TCP sockets or Unix-domain sockets and receive replies
 from the server.
 .
 https://gitweb.torproject.org/torspec.git/tree/control-spec.txt
 .
 This package is produced independently of, and carries no guarantee from,
 The Tor Project.
